<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Scientist</string>
		<key>costumeImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tailor</string>
		<key>costumeImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Farmer</string>
		<key>costumeImage</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Worker</string>
		<key>costumeImage</key>
		<string></string>
	</dict>
</array>
</plist>
