<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Scientist</string>
		<key>costumeImage</key>
		<string>Scientist.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>IQ</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Farmer</string>
		<key>costumeImage</key>
		<string>Farmer.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>wool</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>food</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Tailor</string>
		<key>costumeImage</key>
		<string>Tailor.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Worker</string>
		<key>costumeImage</key>
		<string>Worker.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Explorer</string>
		<key>costumeImage</key>
		<string>Explorer.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Lumberjack</string>
		<key>costumeImage</key>
		<string>Lumberjack.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>wood</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Miner</string>
		<key>costumeImage</key>
		<string>Miner.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>stone</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Fisherman</string>
		<key>costumeImage</key>
		<string>Fisherman.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>food</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Blacksmith</string>
		<key>costumeImage</key>
		<string>Blacksmith.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Weatherman</string>
		<key>costumeImage</key>
		<string>Weatherman.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Bodyguard</string>
		<key>costumeImage</key>
		<string>Bodyguard.png</string>
		<key>responsibilities</key>
		<array>
			<dict>
				<key>quantity</key>
				<integer>10</integer>
				<key>class</key>
				<string>MECOEarningJobResponsibility</string>
				<key>resource</key>
				<string>fur</string>
				<key>interval</key>
				<integer>60</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Soldier</string>
		<key>costumeImage</key>
		<string>Soldier.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Teacher</string>
		<key>costumeImage</key>
		<string>Teacher.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Doctor</string>
		<key>costumeImage</key>
		<string>Doctor.png</string>
	</dict>
	<dict>
		<key>cost</key>
		<integer>100</integer>
		<key>title</key>
		<string>Trader</string>
		<key>costumeImage</key>
		<string>Trader.png</string>
	</dict>
</array>
</plist>
