<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Pig</string>
		<key>cost</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Meco</string>
		<key>cost</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sheep</string>
		<key>cost</key>
		<integer>20</integer>
	</dict>
</array>
</plist>
